<!DOCTYPE html>
<html lang="en">
	<head>
		<title>Sample Google Sheets Data</title>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
		<link rel=stylesheet type=text/css href="{{ url_for('static', filename='css/style.css') }}">

	</head>
	<body>
		<div class="container">
			<h1>Sample Google Sheets Data</h1>

            <table class="table">
            {% for row in values %}
                <tr>
                {% with firstrow = loop.index0 == 0 %}
                {% for value in row %}
                    {% if firstrow %}
                        <th>{{ value }}</th>
                    {% else %}
                        <td>{{ value }}</td>
                    {% endif %}
                {% endfor %}
                {% endwith %}
                </tr>
            {% endfor %}
            </table>

            <p>See the source code on <a href="https://github.com/jessamynsmith/flask-google-sheets">GitHub</a></p>

        </div>

        <script src="http://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>
		<script type="text/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

    </body>
</html>